<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
	  th:replace="~{masterLayout :: layout(~{::title}, ~{::content}, ~{::headContent})}">
<head>
	<headContent>
	<link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
	<link rel="stylesheet" type="text/css" th:href="@{/css/modal.css}">
	<link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>

    <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/css/iziModal.min.css">
	<script src="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/js/iziModal.min.js"></script>

	<script th:inline = "javascript">
		$(document).ready(function(){
			$('#itemsTable').DataTable( {
				columnDefs: [
					{
						targets: [ 0, 1, 2 ],
						className: 'mdl-data-table__cell--non-numeric'
					}
				]
			} );
		});
		/*[- will be initilize in the next script below -]*/
		var listCategory = {};
    </script>
	<title>Table</title>

	</headContent>
</head>
<body>
<content>
	<!--for ajax request    -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <div id="sidebar">
		<div id="top">
			<div id="invenger-text">INVENGER</div><i onclick="myFunction()" id="bars" class="fa fa-bars"></i>
		</div>
		<div id="element">MENUS</div>
		<a class="icon" href="">
			<i class="fa fa-cloud"></i><div class="text">Options</div>
		</a>
		<a class="icon" id="selected" href="">
			<i class="fa fa-cloud"></i><div class="text">Options</div>
		</a>
		<a class="icon" href="">
			<i class="fa fa-cloud"></i><div class="text">Options</div>
		</a>
		<a class="icon" href="">
			<i class="fa fa-cloud"></i><div class="text">Options</div>
		</a>
		<a class="icon" href="">
			<i class="fa fa-cloud"></i><div class="text">Options</div>
		</a>
	</div>
	<div id="content">
		<div class="navbar">
			<div id="dropdown" onclick="dropDown()">
				<div style="padding-left: 32px; padding-right: 8px; border-left: 1px solid rgba(24, 28, 33, 0.04);" th:object="${user}" th:text="*{name}"></div>
				<div class="circle"></div>
				<i style="padding-left: 8px; padding-right: 8px;" class="fa fa-angle-down"></i>
			</div>
		</div>
		<div id="link">
			<a th:href="@{/profile}" style="border-bottom: 1px solid rgba(24,28,33,0.04);">
				<i style="padding-right: 8px;" class="fa fa-user"></i>
				<div>My Profile</div>
			</a>
			<a href="">
				<i style="padding-right: 8px;" class="fa fa-sign-out"></i>
				<div>Log Out</div>
			</a>
		</div>

		<button class="btn" id="categoryBtn">Category</button>
		<button class="btn" id="itemBtn">Item</button>
        <button class="btn" id="assignItemBtn">assign item to user</button>

		<div class="user-text">Inventory</div>
		<div style="padding: 30px;">
			<table id="itemsTable" class="display" style="width:100%;">
				<thead>
					<tr>
						<th>Name</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Category</th>
						<th>Type</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody id="items-table-body">
				<th:block th:each="inventory : ${inventories}">
					<!--<tr th:id="|row-${inventory.id}|" th:item_id="${inventory.id}">-->
					<tr th:item_id="${inventory.id}">
						<td col="name" th:text="${inventory.name}"></td>
						<td col="price" th:text="${inventory.price}"></td>
						<td col="quantity" th:text="${inventory.quantity}"></td>
						<td col="category" th:text="${inventory.category.name}"></td>
						<td col="type" th:text="${inventory.type}"></td>
						<td>
							<button type="submit" th:onclick="|loadDetail(${inventory.id})|">Detail</button>
						</td>
					</tr>
				</th:block>
				</tbody>
				<tfoot>
					<tr>
						<th>Name</th>
						<th>Price</th>
						<th>Quantity</th>
						<th>Description</th>
						<th>Category</th>
						<th>Action</th>
					</tr>
				</tfoot>
			</table>
		</div>
	</div>


	<div id="categoryModal">
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label class="form-label">Category Name</label><br>
                    <input id="ctg-new-name" class="form-input" style="width: 100%;" type="text" name="">
                </div>
                <div class="form-group">
                    <label class="form-label">Category Parent</label><br>
                    <select id="select-parent-ctg" class="form-input" style="width: 100%;">
                        <th:block th:each="category : ${categories}">
                            <option th:value="${category.id}" th:text="${category.name}">Option i</option>
                        </th:block>
                    </select>
                </div>
                <div class="form-action">
                    <div id="submit-new-ctg" class="submit">Add Category</div>
                </div>
            </form>
        </div>
	</div>

    <div id="create-item-modal">
        <div class="modal-body">
            <form id="create-item-form" action="#" method="POST" enctype="multipart/form-data" th:object="${createItemForm}">
                <div class="form-group">
                    <label class="form-label">Item Name *</label><br>
                    <input class="form-input" th:field="*{name}">
                </div>
                <div class="form-group">
                    <label class="form-label">Photo</label>
                    <div class="needsclick mx-4 dropzone" id="uploadFile">
                        <div class="dz-message needsclick" name="user-pict">
                            Please Upload jpg, jpeg or png file only
                            <br> Drop the file here or click here for select file
                            <i class="fa fa-paper-plane-o ml-1"></i>
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Item Quantity *</label><br>
                    <input class="form-input" type="number" min="0" th:field="*{quantity}">
                </div>
                <div class="form-group">
                    <label class="form-label">Item Price</label><br>
                    <input class="form-input" type="number" min="0" th:field="*{price}">
                </div>
                <div class="form-group">
                    <label class="form-label">Item Category</label><br>
                    <select class="form-input" style="width: 100%;" name="category_id">
                        <th:block th:each="category : ${categories}">
                            <option th:value="${category.id}" th:text="${category.name}">Option i</option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Item type</label>
                    <select class="form-input" style="width: 100%;" name="type">
                        <th:block th:each="type : ${itemTypes}">
                            <option th:value="${type}" th:text="${type}">Option i</option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Description</label><br>
                    <input class="form-input" th:field="*{description}">
                </div>
                <div class="form-action">
                    <button class="submit" id="add-item-submit">Add Item</button>
                </div>
            </form>
        </div>
    </div>

	<div id="inventory-detail-modal"></div>

    <div id="assign-item-modal"></div>


    <script>
        Dropzone.autoDiscover = false;

        function loadDetail(idCategory){

            $('#inventory-detail-modal').iziModal({
                title : 'invetory detail',
                width : screen.width*0.9,
                height : screen.height*0.9,
                closeButton : true,
                fullScreen : true,
                history: false,
                onOpening : function (modal) {
                    modal.startLoading();
                    $.get('/inventory/detail/'+idCategory,function (html) {
                        $('#inventory-detail-modal .iziModal-content').html(html);
                        modal.stopLoading();
                        $('.dropdown-toggle').dropdown();
                    }).fail(function (file,response) {
                        modal.stopLoading();
                        toastMessage('error','Failed','Something wrong :(');
                        $('.iziModal-button-close').click();
                    });
                },
                onClosed : function (modal) {
                    $('#inventory-detail-modal').iziModal('destroy');
                }

            });
            $('#inventory-detail-modal').iziModal('open');

        }

        $(document).ready(function() {
            var file_upload = null;
            var uploadFileDZ = null;

            // init listCategory
            $('select[name=\"category_id\"] option').each(function () {
				listCategory[$(this).val()] = $(this).text();
            });

			$('#assignItemBtn').click(function () {
			    console.log('clicked');
				$('#assign-item-modal').iziModal({
					title : 'Assign Item to User',
					width : screen.width*0.6,
					height : screen.height,
					closeButton : true,
					fullScreen : true,
					history : false,
					onOpening : function (modal) {
						modal.startLoading();
						$.get('/lendment/assign-form',function (html) {
                            $('#assign-item-modal .iziModal-content').html(html);
                            modal.stopLoading();
                        }).fail(function () {
                            modal.stopLoading();
                            toastMessage('error','Failed','Something wrong :(');
                            $('.iziModal-button-close').click();
                        });
                    }
				});

                $('#assign-item-modal').iziModal('open');

            });


            $('#create-item-modal').iziModal({
                title : 'Create Item',
                width : screen.width*0.5,
                height : screen.height*0.9,
                closeButton : true,
                fullScreen : true,
                history: false,
                onClosed : function (modal) {
                    $('#create-item-form')[0].reset();
                }

            });

            $('#categoryModal').iziModal({
                title : 'Create Item Category',
                width : screen.width*0.2,
                height : screen.height*0.9,
                closeButton : true,
                fullScreen : true,
                history: false,
                onClosed : function (modal) {
                    $('#categoryModal form')[0].reset();
                }
            });


            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content')
                }
            });

            Dropzone.options.uploadFile = {
                headers : { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') } ,
                maxFiles : 1,
                autoProcessQueue : false,
                url : "#",
                init : function() {
                    uploadFileDZ = this;
                    var prevFile = null;
                    uploadFileDZ.processQueue();
                    this.on("addedfile", function(file) {
                        if(file_upload != null){
                            this.removeFile(file_upload);
                        }
                        file_upload = file;
                        file.previewElement.addEventListener("click", function() {
                            uploadFileDZ.hiddenFileInput.click();
                        });
                    });
                }
            };

            Dropzone.discover();

            $('form#create-item-form').submit(function(e){
                e.preventDefault();
                var form = new FormData(this);
                form.append("photo_file",file_upload);
                $.ajax({
                    type: "POST",
                    url: "[[@{/inventory/create}]]",
                    data: form,
                    success: function(response){
                        console.log(response['inventory_id']);
						var target = $('#itemsTable').DataTable();
						target.row.add([
                            form.get('name'),
							form.get('price'),
							form.get('quantity'),
                            listCategory[form.get('category_id')],
							form.get('type'),
                            '<button type=\"submit\" onclick=loadDetail('+response['inventory_id']+') >Detail</button>'
						]).draw();
                        toastMessage('success','Success','New item added to table');
						$('#create-item-modal').iziModal('close');
                        uploadFileDZ.removeFile(file_upload);

                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });

            });

            $('#submit-new-ctg').click(function () {
                $.ajax({
                    url: "[[@{/items/category/create}]]",
                    type: 'POST',
                    contentType : "application/json; charset=utf-8",
                    data : JSON.stringify({
                        "name": $('#ctg-new-name').val(),
                        "parent_id": $('#select-parent-ctg').val()
                    }),
                    success: function (response) {
                        $('#select-parent-ctg').append(
                            '<option value="'+response['new-category']['id']+'">'+
                            response['new-category']['name']+'</option>'
                        );
                        toastMessage('success', 'Success', 'New category added');
                        listCategory[response['new-category']['id']] = response['new-category']['name'];
                        $('#categoryModal').iziModal('close');
                    }
                }).fail(function (xhr, error, thrownError) {
                    toastMessage('error', 'Error', 'Something wrong');
                });
            });


            $("#categoryBtn").click(function(){
                $("#categoryModal").iziModal('open');
            });
            $("#close0").click(function(){
                $("#categoryModal").hide();
            });
            $("#itemBtn").click(function(){
                $('#create-item-modal').iziModal('open');

            });

            function myFunction(){
                var z = document.getElementsByClassName("text");
                var a = document.getElementsByClassName("icon");
                var y = document.getElementById("top");
                var x = document.getElementById("invenger-text");
                if (x.style.display === "none"){
                    document.getElementById("sidebar").style.width = "250px";
                    document.getElementById("content").style.marginLeft = "250px";
                    x.style.display = "flex";
                    y.style.padding = "18px 32px";
                    document.getElementById("element").style.textAlign = "left";
                    document.getElementById("element").style.margin = "12px 32px";
                    for (var i = z.length - 1; i >= 0; i--) {
                        z[i].style.display = "flex";
                    }
                    for (var i = a.length - 1; i >= 0; i--) {
                        a[i].style.padding = "12px 32px";
                    }
                }
                else{
                    document.getElementById("sidebar").style.width = "auto";
                    document.getElementById("content").style.marginLeft = "57.15px";
                    x.style.display = "none";
                    y.style.padding = "20px 20px";
                    document.getElementById("element").style.textAlign = "center";
                    document.getElementById("element").style.margin = "12px 0px";
                    for (var i = z.length - 1; i >= 0; i--) {
                        z[i].style.display = "none";
                    }
                    for (var i = a.length - 1; i >= 0; i--) {
                        a[i].style.padding = "12px 20px 15px 20px";
                    }
                }
            }
            function dropDown(){
                var link = document.getElementById("link");
                var drop = document.getElementById("dropdown");
                if(link.style.display==="none"){
                    link.style.display="block";
                    drop.style.color="rgb(78, 81, 85)";
                }
                else{
                    link.style.display="none";
                }
            }
        });

	</script>
</content>
</body>
</html> 
