<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
      th:replace="~{masterLayout :: layout(~{::title}, ~{::content}, ~{::headContent})}">
<head>
    <headContent>
        <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/modal.css}">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.foundation.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>

        <!--<script src="https://code.jquery.com/jquery-3.3.1.js"></script>-->
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.foundation.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/css/iziModal.min.css">
        <script src="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/js/iziModal.min.js"></script>
        <script th:src="@{/js/DataTablesAccess.js}"></script>


        <script th:inline = "javascript">
        var tableAccess = null;
		$(document).ready(function(){

			var datatables = $('#itemsTable').DataTable();

			tableAccess = new DTAccess(datatables,'item-',7);

		});
		/*[- will be initilize in the next script below -]*/
		var listCategory = {};
    </script>
	<title>Inventory</title>

    </headContent>
</head>
<body>
<content>
    <!--for ajax request    -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <div th:replace="sidebar :: left_sidebar"></div>

    <div id="content">

        <div th:replace="navbar :: navbar"></div>
        <div class="user-text">Inventory</div>
        <div style="margin-left: 22px;">
            <button class="btn" id="categoryBtn">Category</button>
            <button class="btn" id="itemBtn">Item</button>
            <button class="btn" id="assignItemBtn">Assign Item to User</button>
        </div>
        <div style="padding: 50px;">
            <table id="itemsTable" class="display" style="width:100%;">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="items-table-body" style="font-size: 15px;">
                <th:block th:each="inventory : ${inventories}">
                    <tr th:id="|item-${inventory.id}|">
                        <td col="id" th:text="${inventory.id}"></td>
                        <td col="name" th:text="${inventory.name}"></td>
                        <td col="price" th:text="${inventory.price}"></td>
                        <td col="quantity" th:text="${inventory.quantity}"></td>
                        <td col="category" th:text="${inventory.category}"></td>
                        <td col="type" th:text="${inventory.type}"></td>
                        <td>
                            <button class="submit" type="submit" th:onclick="|loadInventoryDetail(${inventory.id})|">Item Detail</button>
                            <button class="submit" type="submit">
                                <i class="fas fa-archive"></i>
                            </button>
                            <button class="submit" type="submit">
                                <i class="fas fa-print"></i>
                            </button>
                            <button class="submit" style="background-color: #BB281A;" type="submit">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>


    <div id="categoryModal">
        <div class="modal-body">
            <form id="create-category-form">
                <div class="form-group">
                    <label class="form-label">Category Name</label><br>
                    <input id="ctg-new-name" class="form-input" style="width: 100%;" type="text" name="">
                </div>
                <div class="form-group">
                    <label class="form-label">Category Parent</label><br>
                    <select id="select-parent-ctg" class="form-input" style="width: 100%;">
                        <th:block th:each="category : ${categories}">
                            <option th:value="${category.id}" th:text="${category.name}">Option i</option>
                        </th:block>
                    </select>
                </div>
                <div class="form-action">
                    <button id="submit-new-ctg" class="submit">Add Category</button>
                </div>
            </form>
        </div>
    </div>

    <div id="create-item-modal">
        <div class="modal-body">
            <form id="create-item-form" action="#" method="POST" enctype="multipart/form-data" th:object="${createItemForm}">
                <div class="form-group">
                    <label class="form-label">Item Name *</label><br>
                    <input class="form-input" th:field="*{name}">
                </div>
                <div class="form-group">
                    <label class="form-label">Photo</label>
                    <div class="needsclick mx-4 dropzone" id="uploadFile">
                        <div class="dz-message needsclick" name="user-pict">
                            Please Upload jpg, jpeg or png file only
                            <br> Drop the file here or click here for select file
                            <i class="fa fa-paper-plane-o ml-1"></i>
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Item Quantity *</label><br>
                    <input class="form-input" type="number" min="0" th:field="*{quantity}">
                </div>
                <div class="form-group">
                    <label class="form-label">Item Price</label><br>
                    <input class="form-input" type="number" min="0" th:field="*{price}">
                </div>
                <div class="form-group">
                    <label class="form-label">Item Category</label><br>
                    <select class="form-input" style="width: 100%;" name="category_id">
                        <th:block th:each="category : ${categories}">
                            <option th:value="${category.id}" th:text="${category.name}">Option i</option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Item type</label>
                    <select class="form-input" style="width: 100%;" name="type">
                        <th:block th:each="type : ${itemTypes}">
                            <option th:value="${type}" th:text="${type}">Option i</option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Description</label><br>
                    <input class="form-input" th:field="*{description}">
                </div>
                <div class="form-action">
                    <button class="submit" id="add-item-submit">Add Item</button>
                </div>
            </form>
        </div>
    </div>

    <div id="inventory-detail-modal"></div>

    <div id="assign-item-modal"></div>


    <script>
        Dropzone.autoDiscover = false;

        function loadInventoryDetail(idInventory){

            $('#inventory-detail-modal').iziModal({
                title : 'Inventory Detail',
                width : screen.width*0.9,
                height : screen.height*0.9,
                closeButton : true,
                fullScreen : true,
                history: false,
                onOpening : function (modal) {
                    modal.startLoading();
                    $.get('/inventory/detail/'+idInventory,function (html) {
                        $('#inventory-detail-modal .iziModal-content').html(html);
                        modal.stopLoading();
                    }).fail(function (file,response) {
                        modal.stopLoading();
                        toastMessage('error','Failed','Something wrong :(');
                        $('.iziModal-button-close').click();
                    });
                },
                onClosed : function (modal) {
                    $('#inventory-detail-modal').iziModal('destroy');
                }

            });
            $('#inventory-detail-modal').iziModal('open');

        }

        $(document).ready(function() {
            var file_upload = null;
            var uploadFileDZ = null;

            // init listCategory
            $('select[name=\"category_id\"] option').each(function () {
				listCategory[$(this).val()] = $(this).text();
            });

			$('#assignItemBtn').click(function () {
			    console.log('clicked');
				$('#assign-item-modal').iziModal({
					title : 'Assign Item to User',
					width : screen.width*0.6,
					height : screen.height,
					closeButton : true,
					fullScreen : true,
					history : false,
					onOpening : function (modal) {
						modal.startLoading();
						$.get('/lendment/create',function (html) {
                            $('#assign-item-modal .iziModal-content').html(html);
                            modal.stopLoading();
                        }).fail(function () {
                            modal.stopLoading();
                            toastMessage('error','Failed','Something wrong :(');
                            $('.iziModal-button-close').click();
                        });
                    }
				});

                $('#assign-item-modal').iziModal('open');

            });


            $('#create-item-modal').iziModal({
                title : 'Create Item',
                width : screen.width*0.5,
                height : screen.height*0.9,
                closeButton : true,
                fullScreen : true,
                history: false,
                onClosed : function (modal) {
                    $('#create-item-form')[0].reset();
                }

            });

            $('#categoryModal').iziModal({
                title : 'Create Item Category',
                width : screen.width*0.2,
                height : screen.height*0.9,
                closeButton : true,
                fullScreen : true,
                history: false,
                onClosed : function (modal) {
                    $('#categoryModal form')[0].reset();
                }
            });


            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content')
                }
            });

            Dropzone.options.uploadFile = {
                headers : { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') } ,
                maxFiles : 1,
                autoProcessQueue : false,
                url : "#",
                init : function() {
                    uploadFileDZ = this;
                    var prevFile = null;
                    uploadFileDZ.processQueue();
                    this.on("addedfile", function(file) {
                        if(file_upload != null){
                            this.removeFile(file_upload);
                        }
                        file_upload = file;
                        file.previewElement.addEventListener("click", function() {
                            uploadFileDZ.hiddenFileInput.click();
                        });
                    });
                }
            };

            Dropzone.discover();

            $('form#create-item-form').submit(function(e){
                e.preventDefault();
                var form = new FormData(this);
                form.append("photo_file",file_upload);
                $.ajax({
                    type: "POST",
                    url: "[[@{/inventory/create}]]",
                    data: form,
                    success: function(response){
                        // console.log(response['inventory_id']);
                        tableAccess.addData(
                            response['inventory_id'],
                            [   response['inventory_id'],
                                form.get('name'),
                                form.get('price'),
                                form.get('quantity'),
                                listCategory[form.get('category_id')],
                                form.get('type'),
                                '<button class="submit" type=\"submit\" onclick=loadInventoryDetail('+response['inventory_id']+') >Item Detail</button><button class=\"submit\" type=\"submit\"  ><i class=\"fas fa-archive\"></i></button><button class=\"submit\" type=\"submit\"  ><i class=\"fas fa-print\"></i></button><button class=\"submit\" style=\"background-color: #BB281A;\" type=\"submit\"  ><i class=\"fas fa-trash\"></i></button>'
                            ],
                            [
                                'id',
                                'name',
                                'price',
                                'quantity',
                                'category',
                                'type'
                            ]
                        );

                        toastMessage('success','Success','New item added to table');
						$('#create-item-modal').iziModal('close');
                        uploadFileDZ.removeFile(file_upload);

                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });

            });

            $('form#create-category-form').submit(function (e) {
                e.preventDefault();
                $.ajax({
                    url: "[[@{/items/category/create}]]",
                    type: 'POST',
                    contentType : "application/json; charset=utf-8",
                    data : JSON.stringify({
                        "name": $('#ctg-new-name').val(),
                        "parent_id": $('#select-parent-ctg').val()
                    }),
                    success: function (response) {
                        $('#select-parent-ctg').append(
                            '<option value="'+response['new-category']['id']+'">'+
                            response['new-category']['name']+'</option>'
                        );
                        toastMessage('success', 'Success', 'New category added');
                        listCategory[response['new-category']['id']] = response['new-category']['name'];
                        $('#categoryModal').iziModal('close');
                    }
                }).fail(function (xhr, error, thrownError) {
                    toastMessage('error', 'Error', 'Something wrong');
                });
            });


            $("#categoryBtn").click(function(){
                $("#categoryModal").iziModal('open');
            });
            $("#close0").click(function(){
                $("#categoryModal").hide();
            });
            $("#itemBtn").click(function(){
                $('#create-item-modal').iziModal('open');

            });


        });

	</script>
</content>
</body>
</html> 
