<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
      th:replace="~{masterLayout :: layout(~{::title}, ~{::content}, ~{::headContent})}">
<head>
    <headContent>
        <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/modal.css}">
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>

        <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/css/iziModal.min.css">
        <script src="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/js/iziModal.min.js"></script>
        <script th:src="@{/js/DataTablesAccess.js}"></script>


        <script th:inline = "javascript">
		$(document).ready(function(){
			var datatables = $('#itemsTable').DataTable();
		});
        var listCategory = {};
        /*[# th:each="category : ${categories}"]*/

        listCategory["[(${category.id})]"]=[[${category.name}]];

        /*[/]*/

        </script>
	<title>Inventory</title>

    </headContent>
</head>
<body>
<content>
    <!--for ajax request    -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <div th:replace="sidebar :: left_sidebar"></div>

    <div id="content">

        <div th:replace="navbar :: navbar"></div>
        <div class="user-text">Inventory</div>

        <div style="padding: 30px;">
            <table id="itemsTable" class="display" style="width:100%;">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="items-table-body">
                <th:block th:each="inventory : ${inventories}">
                    <tr th:id="|item-${inventory.id}|">
                        <td col="id" th:text="${inventory.id}"></td>
                        <td col="name" th:text="${inventory.name}"></td>
                        <td col="price" th:text="${inventory.price}"></td>
                        <td col="quantity" th:text="${inventory.quantity}"></td>
                        <td col="category" th:text="${inventory.category.name}"></td>
                        <td col="type" th:text="${inventory.type}"></td>
                        <td>
                            <button class="submit" type="submit" th:onclick="|loadInventoryDetail(${inventory.id})|">Item Detail</button>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
    </div>

    <div id="inventory-detail-modal"></div>

    <script>
        Dropzone.autoDiscover = false;

        function loadInventoryDetail(idInventory){

            $('#inventory-detail-modal').iziModal({
                title : 'Inventory Detail',
                width : screen.width*0.9,
                height : screen.height*0.9,
                closeButton : true,
                fullScreen : true,
                history: false,
                onOpening : function (modal) {
                    modal.startLoading();
                    $.get('/inventory/detail/'+idInventory,function (html) {
                        $('#inventory-detail-modal .iziModal-content').html(html);
                        modal.stopLoading();
                    }).fail(function (file,response) {
                        modal.stopLoading();
                        toastMessage('error','Failed','Something wrong :(');
                        $('.iziModal-button-close').click();
                    });
                },
                onClosed : function (modal) {
                    $('#inventory-detail-modal').iziModal('destroy');
                }

            });
            $('#inventory-detail-modal').iziModal('open');

        }

        $(document).ready(function() {
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content')
                }
            });



        });

	</script>
</content>
</body>
</html> 
