<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
      th:replace="~{masterLayout :: layout(~{::title}, ~{::content}, ~{::headContent})}">
<head>
    <meta charset="UTF-8">
    <title>Lendments</title>
    <headcontent>
        <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/modal.css}">

        <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.7/css/select.dataTables.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.foundation.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>

        <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.foundation.min.js"></script>
        <script src="https://cdn.datatables.net/select/1.2.7/js/dataTables.select.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/css/iziModal.min.css">
        <script src="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/js/iziModal.min.js"></script>

        <script th:src="@{/js/DataTablesAccess.js}"></script>

        <style>
            .dataTables_filter, .dataTables_info { display: none; }
        </style>

        <script th:inline = "javascript">
            var tableAccess = null;
            let preparedCol = DTAccess.generateColumnSpec([
                {'col':'id'},
                {'col':'createdAt','searchable' : false},
                {'col':'status'},
                {'col':'action','searchable' : false,'orderable':false}
            ]);

            $(document).ready(function(){
                var datatables = $('#lendmentsTable').DataTable({
                    processing: true,
                    serverSide : true,
                    ajax : {
                        'type' : 'GET',
                        'url' : '/lendment/datatables',
                        'dataSrc' : function (response) {
                            let len = response.data.length;
                            let ref = response.data;
                            for(let i = 0; i<len; i++){
                                ref[i]['action'] = '<button class=\"submit\" type=\"submit\" ' +
                                    'onclick=\"loadLendmentDetail('+ref[i].id+')\">Detail</button>';
                            }
                            return ref;
                        }
                    },
                    columns : preparedCol.column,
                    columnDefs : preparedCol.columnDefs
                });

                var searchableList = ['id','username','status'];

                for(let i=0;i<searchableList.length;i++){
                    let input = $('#lendmentsTable [target-col=\"'+searchableList[i]+'\"]');
                    let target = datatables.column('#lendmentsTable th[col=\"'+searchableList[i]+'\"]');
                    input.on('keyup change',function () {
                        if(target.search() !== input.val()){
                            target.search(input.val()).draw();
                        }
                    });
                }

                tableAccess = new DTAccess(datatables,'lendment-',4);
            });
        </script>

    </headcontent>
</head>

<body>
<content>
    <!--for ajax request    -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <div th:replace="sidebar :: left_sidebar"></div>

    <div id="content">
        <div th:replace="navbar :: navbar"></div>
        <div class="user-text">Lendment</div>
        <div style="padding: 50px;">
            <table id="lendmentsTable" class="display" style="width:100%;">
                <thead>
                <tr>
                    <th><input type="text" style="width: 60px" placeholder="Id.." target-col="id"/></th>
                    <th></th>
                    <th>
                        <select target-col="status">
                            <option selected value="">&lt;Filter by Status&gt;</option>
                            <th:block th:each="status : ${statusList}">
                                <option th:value="${status.value}" th:text="${status.value}">Option i</option>
                            </th:block>
                        </select>
                    </th>
                    <th></th>
                </tr>
                <tr>
                    <th col="id">Lendment Id</th>
                    <th col="createdAt">Order date</th>
                    <th col="status">Status</th>
                    <th col="action">Action</th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

    <div id="lendment-detail-modal"></div>

    <script>

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content')
            }
        });

        function loadLendmentDetail(id) {

            $('#lendment-detail-modal').iziModal({
                title : 'Lendment Detail',
                width : screen.width*0.9,
                height : screen.height*0.9,
                closeButton : true,
                fullScreen : true,
                history: false,
                onOpening : function (modal) {
                    modal.startLoading();
                    $.get('/lendment/detail/'+id,function (html) {
                        $('#lendment-detail-modal .iziModal-content').html(html);
                        modal.stopLoading();
                    }).fail(function (file,response) {
                        modal.stopLoading();
                        toastMessage('error','Failed','Something wrong :(');
                        $('.iziModal-button-close').click();
                    });
                },
                onClosed : function (modal) {
                    $('#lendment-detail-modal').iziModal('destroy');
                }

            });
            $('#lendment-detail-modal').iziModal('open');

        }


    </script>
</content>
</body>
</html>