<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
      th:replace="~{masterLayout :: layout(~{::title}, ~{::content}, ~{::headContent})}">
<head>
    <headContent>
        <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/modal.css}">
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>

        <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/css/iziModal.min.css">
        <script src="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/js/iziModal.min.js"></script>
        <script th:src="@{/js/DataTablesAccess.js}"></script>
        <script th:inline = "javascript">
            var tableAccess = null;
            $(document).ready(function(){
                var datatables = $('#itemsTable').DataTable();
                tableAccess = new DTAccess(datatables,'usr-',7);
            });
            var listPosition = {};
            /*[# th:each="position : ${positions}"]*/
            // listPosition["[(${position.id})]"]=[[${position.name}]];
            /*[/]*/

            var listRole = {};
            /*[# th:each="role : ${roles}"]*/
            // listRole["[(${role.id})]"]=[[${role.name}]];
            /*[/]*/
        </script>
        <title>Table</title>

    </headContent>
</head>
<body>
<content>
    <!--for ajax request    -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>


    <div th:replace="sidebar :: left_sidebar"></div>

    <div id="content">
        <div th:replace="navbar :: navbar"></div>

        <div class="user-text">Users Table</div>
        <button class="btn" id="userBtn">New User</button>
        <div style="padding: 30px;">
            <table id="itemsTable" class="display" style="width:100%;">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Telp</th>
                    <th>Position</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="users-table-body">
                <th:block th:each="user : ${users}">
                    <tr th:id="|usr-${user.id}|">
                        <td col="username" th:text="${user.username}"></td>
                        <td col="email" th:text="${user.email}"></td>
                        <td col="password" th:text="${user.password}"></td>
                        <td col="telp" th:text="${user.telp}"></td>
                        <td col="position" th:text="${user.position.name}"></td>
                        <td col="role" th:text="${user.role.name}"></td>
                        <td>
                            <button type="submit" th:onclick="|loadDetail(${user.id})|">More</button>
                        </td>
                    </tr>
                </th:block>
                </tbody>
                <tfoot>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Password</th>
                    <th>Telp</th>
                    <th>Position</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
                </tfoot>
            </table>
        </div>

        <div id="create-user-modal">
            <div class="modal-body">
                <form id="create-user-form" action="#" method="POST" enctype="multipart/form-data" th:object="${createUserForm}">
                    <div class="form-group">
                        <label class="form-label">Username *</label><br>
                        <input class="form-input" th:field="*{username}">
                    </div>
                    <div class="form-group">
                        <label class="form-label">User Email</label><br>
                        <input class="form-input" th:field="*{email}">
                    </div>
                    <div class="form-group">
                        <label class="form-label">User Password</label><br>
                        <input class="form-input" type="password" th:field="*{password}">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Photo</label>
                        <div class="needsclick mx-4 dropzone" id="uploadFile">
                            <div class="dz-message needsclick" name="user-pict">
                                Please Upload jpg, jpeg or png file only
                                <br> Drop the file here or click here for select file
                                <i class="fa fa-paper-plane-o ml-1"></i>
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Telp</label><br>
                        <input class="form-input" th:field="*{telp}">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Position</label>
                        <select class="form-input" style="width: 100%;" name="type">
                            <th:block th:each="position : ${positions}">
                                <option th:value="${position.id}" th:text="${position.name}">Option i</option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Role</label>
                        <select class="form-input" style="width: 100%;" name="type">
                            <th:block th:each="role : ${roles}">
                                <option th:value="${role.id}" th:text="${role.name}">Option i</option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-action">
                        <button class="submit" id="add-item-submit">Add User</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div id="user-detail-modal"></div>

    <script>
        Dropzone.autoDiscover = false;

        function loadDetail(idCategory){

            $('#user-detail-modal').iziModal({
                title : 'Users detail',
                width : screen.width*0.9,
                height : screen.height*0.9,
                closeButton : true,
                fullScreen : true,
                history: false,
                onOpening : function (modal) {
                    modal.startLoading();
                    $.get('/user/detail/'+idCategory,function (html) {
                        $('#user-detail-modal .iziModal-content').html(html);
                        modal.stopLoading();
                        $('.dropdown-toggle').dropdown();
                    }).fail(function (file,response) {
                        modal.stopLoading();
                        toastMessage('error','Failed','Something wrong :(');
                        $('.iziModal-button-close').click();
                    });
                },
                onClosed : function (modal) {
                    $('#user-detail-modal').iziModal('destroy');
                }

            });
            $('#user-detail-modal').iziModal('open');

        }

        $(document).ready(function() {

            var file_upload = null;

            $('#create-user-modal').iziModal({
                title : 'New User',
                width : screen.width*0.5,
                height : screen.height*0.9,
                closeButton : true,
                fullScreen : true,
                history: false,
                onClosed : function (modal) {
                    $('#create-user-form')[0].reset();
                }

            });

            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content')
                }
            });

            // var createItemDZ = new Dropzone('#uploadFile',{
            var uploadFileDZ = null;
            Dropzone.options.uploadFile = {
                headers : { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') } ,
                maxFiles : 1,
                autoProcessQueue : false,
                url : "#",
                init : function() {
                    uploadFileDZ = this;
                    var prevFile = null;
                    uploadFileDZ.processQueue();
                    this.on("addedfile", function(file) {
                        if(file_upload != null){
                            this.removeFile(file_upload);
                        }
                        file_upload = file;
                        file.previewElement.addEventListener("click", function() {
                            uploadFileDZ.hiddenFileInput.click();
                        });
                    });
                }
            };

            Dropzone.discover();

            $('form#create-user-form').submit(function(e){
                e.preventDefault();
                var form = new FormData(this);
                form.append("photo_file",file_upload);
                $.ajax({
                    type: "POST",
                    url: "[[@{/user/create}]]",
                    data: form,
                    success: function(response){
                        console.log(response['user_id']);
                        tableAccess.addData(
                            response['user_id'],
                            [
                                form.get('username'),
                                form.get('email'),
                                form.get('password'),
                                form.get('telp'),
                                listPosition[form.get('position_id')],
                                listRole[form.get('role_id')],
                                '<button type=\"submit\" onclick=loadDetail('+response['user_id']+') >More</button>'
                            ],
                            [
                                'username',
                                'email',
                                'password',
                                'telp',
                                'position',
                                'role'
                            ]
                        );
                        toastMessage('success','Success','New user added to table');
                        $('#create-user-modal').iziModal('close');
                        uploadFileDZ.removeFile(file_upload);
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });

            });

            $("#userBtn").click(function(){
                $('#create-user-modal').iziModal('open');
            });

        });

    </script>
</content>
</body>
</html>
