<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
      th:replace="~{masterLayout :: layout(~{::title}, ~{::content}, ~{::headContent})}">
<head>
    <headContent>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-lite/1.1.0/material.min.css">
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/modal.css}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>

        <script src="http://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/css/iziModal.min.css">
        <script src="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/js/iziModal.min.js"></script>
        <script th:inline = "javascript">
		$(document).ready(function(){
			$('#itemsTable').DataTable( {
				columnDefs: [
					{
						targets: [ 0, 1, 2 ],
						className: 'mdl-data-table__cell--non-numeric'
					}
				]
			} );
		});

    </script>
        <title>Table</title>

    </headContent>
</head>
<body>
<content>
    <!--for ajax request    -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <div id="sidebar">
        <div id="top">
            <div id="invenger-text">INVENGER</div><i onclick="myFunction()" id="bars" class="fa fa-bars"></i>
        </div>
        <div id="element">MENUS</div>
        <a class="icon" href="">
            <i class="fa fa-cloud"></i><div class="text">Options</div>
        </a>
        <a class="icon" id="selected" href="">
            <i class="fa fa-cloud"></i><div class="text">Options</div>
        </a>
        <a class="icon" href="">
            <i class="fa fa-cloud"></i><div class="text">Options</div>
        </a>
        <a class="icon" href="">
            <i class="fa fa-cloud"></i><div class="text">Options</div>
        </a>
        <a class="icon" href="">
            <i class="fa fa-cloud"></i><div class="text">Options</div>
        </a>
    </div>
    <div id="content">
        <div class="navbar">
            <div id="dropdown" onclick="dropDown()">
                <div style="padding-left: 32px; padding-right: 8px; border-left: 1px solid rgba(24, 28, 33, 0.04);" th:object="${user}" th:text="*{name}"></div>
                <div class="circle"></div>
                <i style="padding-left: 8px; padding-right: 8px;" class="fa fa-angle-down"></i>
            </div>
        </div>
        <div id="link">
            <a th:href="@{/profile}" style="border-bottom: 1px solid rgba(24,28,33,0.04);">
                <i style="padding-right: 8px;" class="fa fa-user"></i>
                <div>My Profile</div>
            </a>
            <a href="">
                <i style="padding-right: 8px;" class="fa fa-sign-out"></i>
                <div>Log Out</div>
            </a>
        </div>

        <div class="user-text">Users Table</div>
        <button class="btn" id="userBtn">New User</button>
        <div style="padding: 30px;">
            <table id="itemsTable" class="display" style="width:100%;">
                <thead>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Telp</th>
                    <th>Position</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="items-table-body">
                <th:block th:each="user : ${users}">
                    <tr>
                        <td th:text="${user.username}"></td>
                        <td th:text="${user.email}"></td>
                        <td th:text="${user.telp}"></td>
                        <td th:text="${user.position.name}"></td>
                        <td th:text="${user.role.name}"></td>
                        <td>
                            <!--<form method="post" th:action="@{/inventory/delete?id={id}(id=${inventory.id})}">-->
                            <button type="submit">More</button>
                        </td>
                    </tr>
                </th:block>
                </tbody>
                <tfoot>
                <tr>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Telp</th>
                    <th>Position</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
                </tfoot>
            </table>
        </div>

        <div id="create-user-modal">
            <div class="modal-body">
                <form id="create-user-form" action="#" method="POST" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="form-label">Username *</label><br>
                        <input class="form-input">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Email</label><br>
                        <input class="form-input">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Password</label><br>
                        <input class="form-input" type="password">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Telp</label><br>
                        <input class="form-input">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Position</label>
                        <select class="form-input" style="width: 100%;" name="type">
                            <th:block th:each="position : ${positions}">
                                <option th:value="${position.id}" th:text="${position.name}">Option i</option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Role</label>
                        <select class="form-input" style="width: 100%;" name="type">
                            <th:block th:each="role : ${roles}">
                                <option th:value="${role.id}" th:text="${role.name}">Option i</option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-action">
                        <button class="submit" id="add-user-submit">Add User</button>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <script>
        Dropzone.autoDiscover = false;
        $(document).ready(function() {
            var file_upload = null;

            $('#create-user-modal').iziModal({
                title : 'New User',
                width : screen.width*0.5,
                height : screen.height*0.9,
                closeButton : true,
                fullScreen : true,
                history: false,
                onClosed : function (modal) {
                    $('#create-user-form')[0].reset();
                }

            });

            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content')
                }
            });

            var uploadFileDZ = null;

            Dropzone.discover();

            $("#userBtn").click(function(){
                $('#create-user-modal').iziModal('open');
            });

            function myFunction(){
                var z = document.getElementsByClassName("text");
                var a = document.getElementsByClassName("icon");
                var y = document.getElementById("top");
                var x = document.getElementById("invenger-text");
                if (x.style.display === "none"){
                    document.getElementById("sidebar").style.width = "250px";
                    document.getElementById("content").style.marginLeft = "250px";
                    x.style.display = "flex";
                    y.style.padding = "18px 32px";
                    document.getElementById("element").style.textAlign = "left";
                    document.getElementById("element").style.margin = "12px 32px";
                    for (var i = z.length - 1; i >= 0; i--) {
                        z[i].style.display = "flex";
                    }
                    for (var i = a.length - 1; i >= 0; i--) {
                        a[i].style.padding = "12px 32px";
                    }
                }
                else{
                    document.getElementById("sidebar").style.width = "auto";
                    document.getElementById("content").style.marginLeft = "57.15px";
                    x.style.display = "none";
                    y.style.padding = "20px 20px";
                    document.getElementById("element").style.textAlign = "center";
                    document.getElementById("element").style.margin = "12px 0px";
                    for (var i = z.length - 1; i >= 0; i--) {
                        z[i].style.display = "none";
                    }
                    for (var i = a.length - 1; i >= 0; i--) {
                        a[i].style.padding = "12px 20px 15px 20px";
                    }
                }
            }
            function dropDown(){
                var link = document.getElementById("link");
                var drop = document.getElementById("dropdown");
                if(link.style.display==="none"){
                    link.style.display="block";
                    drop.style.color="rgb(78, 81, 85)";
                }
                else{
                    link.style.display="none";
                }
            }
        });

	</script>
</content>
</body>
</html>
