body{
	position: relative;
	background: #E0E0E0;
}
.container{
	margin: 75px auto;
	width: 400px;
	height: 500px;
	border: 1px solid black;
}
.icon{
	margin: 10px auto;
	height: 85px;
	width: 85px;
	background-color: #2D9CDB;
	border-radius: 50%;
}
.title{
	color: #2D9CDB;
	text-align: center;
	font-size: 30px;
}
.form{
	margin: 10px auto;
}
.input{
	padding-left: 10px;
	width: 250px;
	height: 30px;
	margin-bottom: 10px;
}
.btn{
	height: 40px;
	width: 262px;
	margin-top: 10px;
	font-size: 20px;
}