body{
	background-color: #f8f8f8;
	font-family: Roboto;
}
.sidebar{
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2f3337;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidebar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 14px;
    color: rgb(157, 159, 161);
    display: block;
}

.sidebar a:hover{
    color: #f1f1f1;
}

.content{
    margin-left: 250px;
    padding: 0px 10px;
}

@media screen and (max-height: 450px){
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}