<div class="modal-body">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <img class="d-block img-fluid mx-auto rounded" src="https://pingendo.com/assets/photos/wireframe/photo-1.jpg">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                        <a href="#" class="btn btn-primary my-2">List of Borrower</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-group">
                        <a href="#" class="btn btn-primary my-0">Assign item to single user</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 m-0">
                    <div class="btn-group">
                        <a href="#" class="btn btn-primary my-2">Assign item to multiple user</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row my-2">
                <div class="col-md-6">
                    <label>Name :</label>
                </div>
                <div class="col-md-6">
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Name"> </div>
                    </form>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-6">
                    <label>Inventory Type :</label>
                </div>
                <div class="col-md-6">
                    <div class="btn-group">
                        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Stockable</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Consumable</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Stockable</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-6">
                    <label>Category :</label>
                </div>
                <div class="col-md-6">
                    <div class="btn-group">
                        <button class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown"> All</button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">All</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">All/Furniture</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-6">
                    <label>Price :</label>
                </div>
                <div class="col-md-6">
                    <form class="form-inline">
                        <div class="input-group">
                            <input type="number" class="form-control" placeholder="Price"> </div>
                    </form>
                </div>
            </div>
            <div class="row my-2">
                <div class="col-md-6">
                    <label>Quantity :</label>
                </div>
                <div class="col-md-6">
                    <input type="number" class="form-control" placeholder="Quantity">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <textarea class="form-control" id="Textarea" rows="3" placeholder="Type here"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-right my-3">
                    <a class="btn btn-primary" href="#">Print Item detail </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary">Save changes</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>