<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
	<title>Login Pages</title>
	<link rel="stylesheet" type="text/css" th:href="@{css/login.css}">
</head>
<body>
	<div class="container">
		<div th:if="${#request.getParameter('error') == 'true'}"
			 style="color:red;margin:10px 0px;">
			Login Failed!!!<br />
			Reason :
			<span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
				  th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>
		</div>
		<div class="icon"></div>
		<div class="title">INVENGER</div>
		<div align="center">
			<form class="form" th:action="@{/login}" th:object="${user}" method="post">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div>
					<input class="input" type="text" th:field="*{username}"  placeholder="username or email">
				</div>
				<div>
					<input class="input" type="password" th:field="*{password}"  placeholder="Password">
				</div>
				<div>
					<input type="checkbox" name="remember-me"> Remember me
				</div>
				<div>
					<button class="btn">LOG IN</button>
				</div>
			</form>
		</div>
		<div align="center">
			<a href="">Contact Admin?</a>
		</div>
	</div>
</body>
</html>