<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
      th:replace="~{masterLayout :: layout(~{::title}, ~{::content}, ~{::headContent})}">
<head>
    <headContent>
        <title>Modal</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/modal.css}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    </headContent>
    <title>Modal</title>
</head>
<body>
<content>
    <!--for ajax request    -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <button class="btn" id="categoryBtn">Category</button>
    <button class="btn" id="itemBtn">Item</button>
    <div id="categoryModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">
          <h2>New Category</h2>
          <span id="close0" class="close">&times;</span>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label class="form-label">Category Name</label><br>
                    <input id="ctg-new-name" class="form-input" type="" name="">
                </div>
                <div class="form-group">
                    <label class="form-label">Category Parent</label><br>
                    <select id="select-parent-ctg" class="form-input" style="width: 100%;">
                    <th:block th:each="category : ${categories}">
                        <option th:value="${category.id}" th:text="${category.name}">Option i</option>
                    </th:block>
                    </select>
                </div>
                <div class="form-action">
                    <div id="submit-new-ctg" class="submit">Add Category</div>
                </div>
            </form>
        </div>
      </div>
    </div>
    <div id="itemModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <h2>New Item</h2>
                <span class="close">&times;</span>
            </div>
            <div class="modal-body">
                <form id="create-item-form" action="#" method="POST" enctype="multipart/form-data" th:object="${createItemForm}">
                    <div class="form-group">
                        <label class="form-label">Item Name *</label><br>
                        <input class="form-input" th:field="*{name}">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Photo</label>
                        <div class="dropzone needsclick mx-4" id="uploadFile">
                            <div class="dz-message needsclick" name="user-pict"> Please Upload jpg, jpeg or png file only
                                <br> Drop the file here or click here for select file
                                <i class="fa fa-paper-plane-o ml-1"></i>
                                <br/>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Item Quantity *</label><br>
                        <input class="form-input" th:field="*{quantity}">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Item Price</label><br>
                        <input class="form-input" th:field="*{price}">
                    </div>
                    <div class="form-group">
                        <label class="form-label">Item Category</label><br>
                        <select class="form-input" style="width: 100%;" th:name="category_id">
                            <th:block th:each="category : ${categories}">
                                <option th:value="${category.id}" th:text="${category.name}">Option i</option>
                            </th:block>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-label">Description</label><br>
                        <input class="form-input" th:field="*{description}">
                    </div>
                    <div class="form-action">
                        <button class="submit" id="add-item-submit">Add Item</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function(){

            var file_upload = null;

            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content')
                }
            });

            Dropzone.options.uploadFile = {
                headers : { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') } ,
                maxFiles : 1,
                autoProcessQueue : false,
                url : "#",

                init : function() {
                    myDropzone = this;
                    var prevFile = null;
                    myDropzone.processQueue();
                    this.on("addedfile", function(file) {
                        if(file_upload != null){
                            this.removeFile(file_upload);
                        }
                        file_upload = file;
                    });
                }
            };


            $('form#create-item-form').submit(function(e){
                e.preventDefault();
                var form = new FormData(this);
                form.append("photo_file",file_upload);
                $.ajax({
                    type: "POST",
                    url: "[[@{/inventory/create}]]",
                    data: form,
                    success: function(data){
                        console.log(data);
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });

            });

            $('#submit-new-ctg').click(function () {
                $.ajax({
                    url: "[[@{/items/category/create}]]",
                    type: 'POST',
                    contentType : "application/json; charset=utf-8",
                    data : JSON.stringify({
                        "name": $('#ctg-new-name').val(),
                        "parent_id": $('#select-parent-ctg').val()
                    }),
                    success: function (response) {
                        $('#select-parent-ctg').append(
                            '<option value="'+response['new-category']['id']+'">'+
                            response['new-category']['name']+'</option>'
                        );
                        toastMessage('success', 'Success', 'New category added');
                    }
                }).fail(function (xhr, error, thrownError) {
                    toastMessage('error', 'Error', 'Something wrong');
                });
            });

            $("#categoryBtn").click(function(){
                $("#categoryModal").show();
            });
            $("#close0").click(function(){
                $("#categoryModal").hide();
            });
            $("#itemBtn").click(function(){
                $("#itemModal").show();
            });
            $("#close1").click(function(){
                $("#itemModal").hide();
            });
            $(window).click(function(e){
                if(e.target.id=="categoryModal"){
                    $("#categoryModal").hide();
                }
                if(e.target.id=="itemModal"){
                    $("#itemModal").hide();
                }
            });
        });
    </script>
</content>
</body>
</html>
