<div id="sidebar" th:fragment="left_sidebar" xmlns:th="http://www.w3.org/1999/xhtml"
	 xmlns:sec="http://www.w3.org/1999/xhtml">
	<div id="top">
		<div id="invenger-text">INVENGER</div><i onclick="myFunction()" id="bars" class="fa fa-bars"></i>
	</div>
	<div id="element">MENUS</div>
	<a class="icon sidebar-selected" href="/inventory/all">
		<i class="fas fa-drafting-compass"></i><div class="text">Inventories</div>
	</a>
	<a class="icon" href="/category/all">
		<i class="fas fa-sitemap"></i><div class="text">Item Categories</div>
	</a>
	<a class="icon" href="/lendment/all">
		<i class="fab fa-stack-overflow"></i><div class="text">Lendments</div>
	</a>
	<a class="icon" href="/lendment/requests" sec:authorize="hasRole('USER')">
		<i class="fas fa-clipboard-check"></i><div class="text">Lendment Requests</div>
	</a>
	<a class="icon" href="/user/all" sec:authorize="hasRole('ADMIN')">
		<i class="fas fa-users"></i><div class="text">Users</div>
	</a>
	<a class="icon" href="/user/positions" sec:authorize="hasRole('ADMIN')">
		<i class="fas fa-users"></i><div class="text">User Positions</div>
	</a>
	<script>
        function myFunction(){
            var z = document.getElementsByClassName("text");
            var a = document.getElementsByClassName("icon");
            var y = document.getElementById("top");
            var x = document.getElementById("invenger-text");
            if (x.style.display === "none"){
                document.getElementById("sidebar").style.width = "250px";
                document.getElementById("content").style.marginLeft = "250px";
                x.style.display = "flex";
                y.style.padding = "18px 32px";
                document.getElementById("element").style.textAlign = "left";
                document.getElementById("element").style.margin = "12px 32px";
                for (var i = z.length - 1; i >= 0; i--) {
                    z[i].style.display = "flex";
                }
                for (var i = a.length - 1; i >= 0; i--) {
                    a[i].style.padding = "12px 32px";
                }
            }
            else{
                document.getElementById("sidebar").style.width = "auto";
                document.getElementById("content").style.marginLeft = "57.15px";
                x.style.display = "none";
                y.style.padding = "20px 20px";
                document.getElementById("element").style.textAlign = "center";
                document.getElementById("element").style.margin = "12px 0px";
                for (var i = z.length - 1; i >= 0; i--) {
                    z[i].style.display = "none";
                }
                for (var i = a.length - 1; i >= 0; i--) {
                    a[i].style.padding = "12px 20px 15px 20px";
                }
            }
        }
	</script>

</div>
