<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
	<link rel="stylesheet" type="text/css" href="sidebar.css">
	<title>Template</title>
</head>
<body>
	<div class="sidebar">
		<div class="top">
			INVENGER<i id="bars" class="fa fa-bars"></i>
		</div>
		<p style="font-size: 11px; color: rgb(157, 159, 161); padding-left: 32px;">ELEMENTS</p>
		<a href="">
			<i class="fa fa-cloud"></i>Options
		</a>
		<a id="selected" href="">
			<i class="fa fa-cloud"></i>Options
		</a>
		<a href="">
			<i class="fa fa-cloud"></i>Options
		</a>
		<a href="">
			<i class="fa fa-cloud"></i>Options
		</a>
		<a href="">
			<i class="fa fa-cloud"></i>Options
		</a>
	</div>
	<div class="content">
		<div class="navbar">navbar</div>
		contenttt
	</div> 
</body>
</html> 
