<!DOCTYPE html>
<html>
<head>
	<title>User Profile</title>
	<link rel="stylesheet" type="text/css" href="css/user_profile.css">
</head>
<body>
	<div class="container">
		<div class="text">User Profile</div>
		<div style="height: 448px;">
			<div class="left">
				<div>
					<form class="form">
						<div align="center">
							<div class="titleInput" ">
								Name
							</div>
							<input class="input" type="text" name="" value="">
						</div>
						<div align="center">
							<div class="titleInput" ">
								Email
							</div>
							<input class="input" type="text" name="" value="">
						</div>
						<div align="center">
							<div class="titleInput" ">
								Telp
							</div>
							<input class="input" type="text" name="" value="">
						</div>
						<div align="center">
							<div class="titleInput" ">
								Position
							</div>
							<input class="input" type="text" name="" value="">
						</div>
						<div align="center">
							<button class="btn">Update profile</button>
						</div>
					</form>
					<div align="center">
						<a href="">Change password?</a>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="circle"></div>
				<div align="center">
					<button class="btn">Change Photo</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>