<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
	<title>User Profile</title>
	<link rel="stylesheet" type="text/css" th:href="@{css/user_profile.css}">
</head>
<body>
	<div class="container" >
		<div class="text">User Profile</div>
		<div style="height: 448px;">
			<div class="left">
				<div>
					<form class="form" th:object="${user}" >
						<div align="center">
							<div class="titleInput">
								Name
							</div>
							<input class="input" type="text" name="" th:field="*{username}">
						</div>
						<div align="center">
							<div class="titleInput">
								Email
							</div>
							<input class="input" type="text" name="" th:field="*{email}">
						</div>
						<div align="center">
							<div class="titleInput">
								Telp
							</div>
							<input class="input" type="text" name="" th:field="*{telp}">
						</div>
						<div align="center">
							<div class="titleInput">
								Position
							</div>
							<input class="input" type="text" name="" th:field="*{position.name}">
						</div>
						<div align="center">
							<button class="btn">Update profile</button>
						</div>
					</form>
					<div align="center">
						<a href="">Change password?</a>
					</div>
				</div>
			</div>
			<div class="right">
				<div class="circle"></div>
				<div align="center">
					<button class="btn">Change Photo</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>