<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
	<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
	<meta content="utf-8" http-equiv="encoding">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>

	<link rel="stylesheet" type="text/css" th:href="@{css/user_profile.css}">
 	<title>User Profile</title>
</head>
<body>
    <!--for ajax request    -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <div id="sidebar">
		<div id="top">
			<div id="invenger-text">INVENGER</div><i onclick="myFunction()" id="bars" class="fa fa-bars"></i>
		</div>
		<div id="element">MENUS</div>
		<a class="icon" href="">
			<i class="fa fa-cloud"></i><div class="text">Options</div>
		</a>
		<a class="icon" id="selected" href="">
			<i class="fa fa-cloud"></i><div class="text">Options</div>
		</a>
		<a class="icon" href="">
			<i class="fa fa-cloud"></i><div class="text">Options</div>
		</a>
		<a class="icon" href="">
			<i class="fa fa-cloud"></i><div class="text">Options</div>
		</a>
		<a class="icon" href="">
			<i class="fa fa-cloud"></i><div class="text">Options</div>
		</a>
	</div>
	<div id="content">
		<div class="navbar">
			<div id="dropdown" onclick="dropDown()">
				<div style="padding-left: 32px; padding-right: 8px; border-left: 1px solid rgba(24, 28, 33, 0.04);" th:object="${user}" th:text="*{username}"></div>
				<div class="circle"></div>
				<i style="padding-left: 8px; padding-right: 8px;" class="fa fa-angle-down"></i>
			</div>
		</div>
		<div id="link">
			<a th:href="@{/profile}" style="border-bottom: 1px solid rgba(24,28,33,0.04);">
				<i style="padding-right: 8px;" class="fa fa-user"></i>
				<div>My Profile</div>
			</a>
			<a href="">
				<i style="padding-right: 8px;" class="fa fa-sign-out"></i>
				<div>Log Out</div>
			</a>
		</div>
		<div class="user-text">User Profile</div>
		<div class="profile">
			<div class="pic">
                <img id="user-pict" class="image" th:src="@{/profile/pict/{link}(link=${user.pictureName})}"/>
				<div class="change">
					<div class="ava"><span th:text="${user.username}" th:remove="tag"></span></div>
                    <div class="btn" data-toggle="modal" data-target="#modal-edit-pict">Change</div>
				</div>
			</div>
			<div class="field">
				<form id="user-form" th:object="${user}" th:action="@{/profile}" method="post">
					<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                    <div class="form-group">
                        <label class="form-label">Position</label>
                        <input disabled class="form-input" type="text" th:field="*{position.name}">
                    </div>
					<div class="form-group">
						<label class="form-label">Email</label>
						<input disabled class="form-input" type="text" th:field="*{email}">
					</div>
					<div class="form-group">
						<label class="form-label">Telp</label>
						<input class="form-input" type="text" th:field="*{telp}">
                        <input type="hidden" name="new-telp">
					</div>
                    <div class="form-group">
                        <a id="change-pwd">Change password?</a>
                    </div>
                    <div id="pwd-field" class="row" style="display:none">
                        <div class="col-md-4">
                            <input name="old-pwd" type="password" class="form-control" placeholder="Old password"> </div>
                        <div class="col-md-4">
                            <input name="new-pwd1" type="password" class="form-control" placeholder="New password"> </div>
                        <div class="col-md-4">
                            <input name="new-pwd2" type="password" class="form-control" placeholder="Confirm password"> </div>
                        <input type="hidden" name="new-pwd2">
                    </div>
					<div class="form-action">
						<button id="bt-submit" class="submit">Update Profile</button>
					</div>
				</form>
			</div>
        </div>
	</div>
    <!--Change Picture Modal-->
    <div class="modal fade" id="modal-edit-pict" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h4 class="modal-title w-100 font-weight-bold">Change Profile Picture</h4>
                    <button id="dismiss-modal-pict" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div id="dropzone">
                    <form class="dropzone needsclick mx-4" id="changePict" action="/profile/upload-pict">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                        <div class="dz-message needsclick" name="user-pict"> Please Upload jpg, jpeg or png file only
                            <br> Drop the file here or click here for select file
                            <i class="fa fa-paper-plane-o ml-1"></i>
                            <br/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer justify-content-center d-flex">
                    <a id="submit-ch-pict" class="btn btn-primary btn-lg">Submit</a>
                </div>
            </div>
        </div>
    </div>
	<script>

        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content')
            }
        });

        console.log($('meta[name="_csrf"]').attr('content'));
        //changePict is the ID from dropzone form
        Dropzone.options.changePict = {
            headers : { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') } ,
            maxFiles : 1,
            autoProcessQueue : false,
            init : function() {
                myDropzone = this;
                var prevFile = null;
                this.on("addedfile", function(file) {
                    if(prevFile != null){
                        this.removeFile(prevFile);
                    }
                    prevFile = file;
                });

                $('#submit-ch-pict').click(function () {
                    console.log("proses queue");
                    myDropzone.processQueue();
                });

                this.on('success',function(file,response){//success get response
                    console.log(response);
                    if(response['status'] == "success"){
                        $('#user-pict').attr('src',response['new_pict_src']);
                        $('#dismiss-modal-pict').trigger('click');
                    }
                    else{
                        //pesan error
                    }
                });
                this.on('error',function (file,response) {
                    console.log(response);
                });
            }
        };

        $('#change-pwd').click(function(){
            if($('#pwd-field').css('display') === 'none'){
                $('#pwd-field').slideDown();
            }
            else{
                $('#pwd-field').slideUp();
                $('#old-pwd').val("");
                $('#new-pwd1').val("");
                $('#new-pwd2').val("");
            }
        });



        function myFunction(){
			var z = document.getElementsByClassName("text");
			var a = document.getElementsByClassName("icon");
			var y = document.getElementById("top");
		    var x = document.getElementById("invenger-text");
		    if (x.style.display === "none"){
		    	document.getElementById("sidebar").style.width = "250px";
		    	document.getElementById("content").style.marginLeft = "250px";
		        x.style.display = "flex";
		        y.style.padding = "18px 32px";
		        document.getElementById("element").style.textAlign = "left";
		        document.getElementById("element").style.margin = "12px 32px";
		        for (var i = z.length - 1; i >= 0; i--) {
		        	z[i].style.display = "flex";
		        }
		        for (var i = a.length - 1; i >= 0; i--) {
		        	a[i].style.padding = "12px 32px";
		        }
		    }
		    else{
		    	document.getElementById("sidebar").style.width = "auto";
		    	document.getElementById("content").style.marginLeft = "57.15px";
		        x.style.display = "none";
		        y.style.padding = "20px 20px";
		        document.getElementById("element").style.textAlign = "center";
		        document.getElementById("element").style.margin = "12px 0px";
		        for (var i = z.length - 1; i >= 0; i--) {
		        	z[i].style.display = "none";
		        }
		        for (var i = a.length - 1; i >= 0; i--) {
		        	a[i].style.padding = "12px 20px 15px 20px";
		        }
		    }
		}
		function dropDown(){
			var link = document.getElementById("link");
			var drop = document.getElementById("dropdown");
			if(link.style.display==="none"){
				link.style.display="block";
				// drop.style.color="rgb(78, 81, 85)";
			}
			else{
				link.style.display="none";
			}
		}
	</script>
</body>
</html> 
