<!DOCTYPE html>
<html>
<head>
	<title>Login Page</title>
	<link rel="stylesheet" type="text/css" href="css/login.css">
</head>
<body>
	<div class="container">
		<div class="icon"></div>
		<div class="title">INVENGER</div>
		<div align="center">
			<form class="form">
				<div>
					<input class="input" type="text" name="username" placeholder="Username">
				</div>
				<div>
					<input class="input" type="text" name="password" placeholder="Password">
				</div>
				<div>
					<input type="checkbox" name="verif" value=""> Login as Admin
				</div>
				<div>
					<button class="btn">LOG IN</button>
				</div>
			</form>
		</div>
		<div align="center">
			<a href="">Contact Admin?</a>
		</div>
	</div>
</body>
</html>