<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
      th:replace="~{masterLayout :: layout(~{::title}, ~{::content}, ~{::headContent})}">
<head>
    <headContent>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/modal.css}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.foundation.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.foundation.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/css/iziModal.min.css">
    <script src="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/js/iziModal.min.js"></script>

    <script th:src="@{/js/DataTablesAccess.js}"></script>

    <style>
        .dataTables_filter, .dataTables_info { display: none; }
    </style>

    <script th:inline = "javascript">
        var tableAccess = null;
        let preparedCol = DTAccess.generateColumnSpec([
            {'col':'id'},
            {'col':'name'},
            {'col':'price','searchable' : false},
            {'col':'quantity','searchable' : false},
            {'col':'category'},
            {'col':'type','searchable' : false,'orderable':false},
            {'col':'action','searchable' : false,'orderable':false}
        ]);

        $(document).ready(function(){

            var datatables = $('#itemsTable').DataTable({
                processing: true,
                serverSide : true,
                ajax : {
                    'type' : 'GET',
                    'url' : '/inventory/datatables',
                    'dataSrc' : function (response) {
                        let len = response.data.length;
                        let ref = response.data;
                        for(let i = 0; i<len; i++){
                            ref[i]['action'] =
                                '<button class="submit" type="submit" onclick="loadInventoryDetail('+ref[i].id+')">Detail</button>' +
                                '<a target="_blank" href=/inventory/detail/'+ref[i].id+'/download>' +
                                '<button class="submit" type="submit">' +
                                '<i class="fas fa-print"></i>' +
                                '</button>' +
                                '</a>' +
                                '<button class="submit" style="background-color: #BB281A;" type="submit" onclick="deleteInventory('+ref[i].id+')">' +
                                '<i class="fas fa-trash"></i>' +
                                '</button>'

                        }
                        return ref;
                    }
                },
                columns : preparedCol.column,
                columnDefs : preparedCol.columnDefs
            });

            var searchableList = ['id','name','category'];

            for(let i=0;i<searchableList.length;i++){
                let input = $('#itemsTable [target-col=\"'+searchableList[i]+'\"]');
                let target = datatables.column('#itemsTable th[col=\"'+searchableList[i]+'\"]');
                input.on('keyup change',function () {
                    if(target.search() !== input.val()){
                        target.search(input.val()).draw();
                    }
                });
            }

            tableAccess = new DTAccess(datatables,'row_',7);

        });
    </script>
    <title>Inventory</title>

    </headContent>
</head>
<body>
<content>
    <!--for ajax request    -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <div th:replace="sidebar :: left_sidebar"></div>

    <div id="content">

        <div th:replace="navbar :: navbar"></div>
        <div class="user-text">Inventory</div>
        <div style="margin-left: 22px;">
            <button class="btn" id="itemBtn">Create Item</button>
            <button class="btn" id="importBtn">Import from File</button>
        </div>
        <div style="padding: 50px;">
            <table id="itemsTable" class="display" style="width:100%;">
                <thead>
                <tr>
                    <th><input type="text" style="width: 60px" placeholder="Id.." target-col="id"/></th>
                    <th><input type="text" placeholder="Name.." target-col="name"/></th>
                    <th></th>
                    <th></th>
                    <th>
                        <select target-col="category" style="width: 200px;">
                            <!--<th:block th:each="category : ${categories}">-->
                                <!--<option th:value="${category.name}" th:text="${category.name}">Option i</option>-->
                            <!--</th:block>-->
                        </select>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th col="id">Id</th>
                    <th col="name">Name</th>
                    <th col="price">Price</th>
                    <th col="quantity">Quantity</th>
                    <th col="category">Category</th>
                    <th col="type">Type</th>
                    <th>Action</th>
                </tr>
                </thead>

                <tbody id="items-table-body" style="font-size: 15px;">
                </tbody>
                <tfoot>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Category</th>
                    <th>Type</th>
                    <th>Action</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>

    <div id="create-item-modal">
        <div class="modal-body">
            <form id="create-item-form" action="#" method="POST" enctype="multipart/form-data" th:object="${createItemForm}">
                <div class="form-group">
                    <label class="form-label">Item Name *</label><br>
                    <input class="form-input" th:field="*{name}">
                </div>
                <div class="form-group">
                    <label class="form-label">Photo</label>
                    <div class="needsclick mx-4 dropzone" id="uploadFile">
                        <div class="dz-message needsclick" name="user-pict">
                            Please Upload jpg, jpeg or png file only
                            <br> Drop the file here or click here for select file
                            <i class="fa fa-paper-plane-o ml-1"></i>
                            <br/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Item Quantity *</label><br>
                    <input class="form-input" type="number" min="0" th:field="*{quantity}" style="width: 95.5%;">
                </div>
                <div class="form-group">
                    <label class="form-label">Item Price</label><br>
                    <input class="form-input" type="number" min="0" th:field="*{price}" style="width: 95.5%;">
                </div>
                <div class="form-group">
                    <label class="form-label">Item Category</label><br>
                    <select class="form-input" style="width: 95.5%;" name="category_id">
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Item type</label>
                    <select class="form-input" style="width: 95.5%; padding-right: 25px;" name="type">
                        <th:block th:each="type : ${itemTypes}">
                            <option th:value="${type}" th:text="${type}">Option i</option>
                        </th:block>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-label">Description</label><br>
                    <input class="form-input" th:field="*{description}">
                </div>
                <div class="form-action">
                    <button class="submit" id="add-item-submit">Add Item</button>
                </div>
            </form>
        </div>
    </div>

    <div id="inventory-detail-modal"></div>

    <div id="deleteModal" style="display: none">
        <div class="modal-body">
            <input name="id" type="hidden">
            <div>Are you sure you want to delete inventory?</div>
        </div>
        <div class="modal-footer">
            <button id="delete-close-btn" type="button" class="btn btn-outline-primary">No</button>
            <button id="confirm-delete" type="button" class="btn btn-primary">Yes</button>
        </div>
    </div>

    <div id="import-modal" style="display: none">
        <p style="text-align: center; margin-top: 20px;"><a href="/file/inventory_upload_format.csv" target="_blank" style="text-align: center;">Click to download upload format example.</a></p>
        <form class="dropzone needsclick mx-4" id="importFile" action="/inventory/upload" style="margin-top:20px;">
            <div class="modal-body">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <div class="dz-message needsclick" name="user-pict"> Please Upload csv file
                    <br> Drop the file here or click here for select file
                    <i class="fa fa-paper-plane-o ml-1"></i>
                    <br/>
                </div>
            </div>
        </form>
        <div class="modal-footer justify-content-center d-flex" style="margin-top:20px;">
            <button id="submit-import" class="submit" style="margin-top:0px;">Import</button>
        </div>
    </div>

    <script>
        Dropzone.autoDiscover = false;

        function deleteInventory(id){
            let target = $('#deleteModal');
            target.iziModal({
                title : 'Delete',
                width : screen.width*0.2,
                height : screen.height*0.4,
                closeButton : true,
                fullScreen : true,
                history: false,
                onOpening : function (modal) {
                    $('#delete-close-btn').click(function () {
                        console.log('asd');
                        $('.iziModal-button-close').click();
                    });

                    $('#confirm-delete').click(function () {
                        $.ajax({
                            type : "POST",
                            url : '/inventory/delete/'+id,

                            success: function (response) {
                                if(response['success']){
                                    toastMessage('success', 'Success', response['message']);
                                    tableAccess.removeRowById(id);
                                }
                                else{
                                    toastMessage('error','Error',response['message']);
                                }
                                $('.iziModal-button-close').click();

                            },
                            error: function (xhr) {
                                let response = JSON.parse(xhr.responseText);
                                toastMessage('error','Error',response['message']);
                                $('.iziModal-button-close').click();
                            }
                        }).fail(function (response) {
                            console.log(response);
                        });
                    });

                },
                onClosed : function (modal) {
                    target.iziModal('destroy');
                }

            });

            target.iziModal('open');
        }

        function loadInventoryDetail(idInventory){

            $('#inventory-detail-modal').iziModal({
                title : 'Inventory Detail',
                width : screen.width*0.9,
                height : screen.height*0.9,
                closeButton : true,
                fullScreen : true,
                history: false,
                onOpening : function (modal) {
                    modal.startLoading();
                    $.get('/inventory/detail/'+idInventory,function (html, textStatus, xhr) {
                        console.log(xhr.status);
                        if(xhr.status == 200){
                            $('#inventory-detail-modal .iziModal-content').html(html);
                        }
                        else{
                            toastMessage('error','Error',html['message']);
                        }
                        modal.stopLoading();
                    }).fail(function (file,response) {
                        modal.stopLoading();
                        toastMessage('error','Failed','Something wrong :(');
                        $('.iziModal-button-close').click();
                    });
                },
                onClosed : function (modal) {
                    $('#inventory-detail-modal').iziModal('destroy');
                }

            });
            $('#inventory-detail-modal').iziModal('open');

        }

        $(document).ready(function() {
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content')
                }
            });
            $('#itemsTable select[target-col=\"category\"]').select2({
                placeholder : 'Please select category..',
                ajax : {
                    url : '/category/search',
                    params : null,
                    delay : 350,
                    data : function (params) {
                        let query = {
                            search : (params.term != null)?params.term:"",
                            page : (params.page)?params.page:0,
                            length : 10
                        };
                        this.params = query;
                        return query;
                    },
                    processResults : function (result) {
                        let params = this['$element'].params;
                        result.pagination = {
                            more : params.length*params.page < result['recordsFiltered']
                        };
                        let len = result.results.length;
                        let tmp = result.results;
                        for(let i = 0; i<len; i++){
                            tmp[i].id = tmp[i].text;
                        }
                        return result;
                    }
                },
                cache : true
            });

            var file_upload = null;
            var uploadFileDZ = null;

            $('#create-item-modal').iziModal({
                title : 'Create Item',
                width : screen.width*0.5,
                height : screen.height*0.9,
                closeButton : true,
                fullScreen : true,
                history: false,
                onOpening : function(){
                    $('select[name=\"category_id\"]').select2({
                        placeholder : 'Please select category...',
                        ajax : {
                            url : '/category/search',
                            params : null,
                            delay : 350,
                            data : function (params) {
                                let query = {
                                    search : (params.term != null)?params.term:"",
                                    page : (params.page)?params.page:0,
                                    length : 10
                                };
                                this.params = query;
                                return query;
                            },
                            processResults : function (result) {
                                let params = this['$element'].params;
                                result.pagination = {
                                    more : params.length*params.page < result['recordsFiltered']
                                };
                                return result;
                            }
                        },
                        cache : true
                    });
                },
                onClosed : function (modal) {
                    $('#create-item-form')[0].reset();
                }

            });

            $('#import-modal').iziModal({
                title : 'Import Data from CSV File',
                width : screen.width*0.4,
                height : screen.height*0.4,
                closeButton : true,
                history: false,
                onOpening : function (modal){

                },
                onClosed : function (modal) {
                }

            });

            Dropzone.options.uploadFile = {
                headers : { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') } ,
                maxFiles : 1,
                autoProcessQueue : false,
                url : "#",
                init : function() {
                    uploadFileDZ = this;
                    var prevFile = null;
                    uploadFileDZ.processQueue();
                    this.on("addedfile", function(file) {
                        if(file_upload != null){
                            this.removeFile(file_upload);
                        }
                        file_upload = file;
                        file.previewElement.addEventListener("click", function() {
                            uploadFileDZ.hiddenFileInput.click();
                        });
                    });
                }
            };

            Dropzone.options.importFile = {
                headers : { 'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content') } ,
                maxFiles : 1,
                autoProcessQueue : false,
                url : "/inventory/upload",
                init : function() {
                    console.log("masuk init nya");
                    myDropzone = this;
                    var prevFile = null;
                    this.on("addedfile", function (file) {
                        if (prevFile != null) {
                            this.removeFile(prevFile);
                        }
                        prevFile = file;
                    });

                    $('#submit-import').click(function () {
                        toastMessage('info','Info','Processing....');
                        myDropzone.processQueue();
                    });
                },
                success : function(file,response){//success get response
                    if(response['success']){
                        tableAccess.datatables.ajax.reload(null, false);
                        toastMessage('success','Success',response['message']);
                    }
                    else{
                        toastMessage('error','Error',response['message']);
                    }
                    $('#import-modal').iziModal('close');
                },
                error : function (result) {
                    let response = JSON.parse(result.xhr.responseText);
                    toastMessage('error','Error',response['message']);
                    $('#import-modal').iziModal('close');
                }
            };

            Dropzone.discover();

            $('form#create-item-form').submit(function(e){
                e.preventDefault();
                var form = new FormData(this);
                if(file_upload != null){
                    form.append("photo_file",file_upload);
                }
                $.ajax({
                    type: "POST",
                    url: "[[@{/inventory/create}]]",
                    data: form,
                    success: function(response){
                        if(response['success']){
                            //reload datatables
                            tableAccess.datatables.ajax.reload(null, false);
                            toastMessage('success','Success',response['message']);
                        }
                        else{
                            toastMessage('error','Error',response['message']);
                        }
                        $('#create-item-modal').iziModal('close');
                        uploadFileDZ.removeFile(file_upload);

                    },
                    error : function (result) {
                        let response = result['responseJSON'];
                        toastMessage('error','Error',response['message']);
                        $('#import-modal').iziModal('close');
                    },
                    cache: false,
                    contentType: false,
                    processData: false
                });

            });

            $("#itemBtn").click(function(){
                $('#create-item-modal').iziModal('open');
            });

            $('#importBtn').click(function () {
                $('#import-modal').iziModal('open');
            });

        });

    </script>
</content>
</body>
</html> 
