<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
      th:replace="~{masterLayout :: layout(~{::title}, ~{::content}, ~{::headContent})}">
<head>
    <headContent>
        <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/modal.css}">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.foundation.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.foundation.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/css/iziModal.min.css">
        <script src="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/js/iziModal.min.js"></script>
        <script th:src="@{/js/DataTablesAccess.js}"></script>

    <style>
        .dataTables_filter, .dataTables_info { display: none; }
    </style>

    <script th:inline = "javascript">
        let preparedCol = DTAccess.generateColumnSpec([
            {'col':'id'},
            {'col':'name'},
            {'col':'price','searchable' : false},
            {'col':'quantity','searchable' : false},
            {'col':'category'},
            {'col':'type','searchable' : false,'orderable':false},
            {'col':'action','searchable' : false,'orderable':false}
        ]);
        var tableAccess = null;
        $(document).ready(function(){
            var datatables = $('#itemsTable').DataTable({
                processing: true,
                serverSide : true,
                ajax : {
                    'type' : 'GET',
                    'url' : '/inventory/datatables',
                    'dataSrc' : function (response) {
                        let len = response.data.length;
                        let ref = response.data;
                        for(let i = 0; i<len; i++){
                            ref[i]['action'] =
                                '<button class="submit" type="submit" ' +
                                'onclick="loadInventoryDetail('+ref[i].id+')">Item Detail' +
                                '</button>'
                        }
                        return ref;
                    }
                },
                columns : preparedCol.column,
                columnDefs : preparedCol.columnDefs
            });

            var searchableList = ['id','name','category'];

            for(let i=0;i<searchableList.length;i++){
                let input = $('#itemsTable [target-col=\"'+searchableList[i]+'\"]');
                let target = datatables.column('#itemsTable th[col=\"'+searchableList[i]+'\"]');
                input.on('keyup change',function () {
                    if(target.search() !== input.val()){
                        target.search(input.val()).draw();
                    }
                });
            }
            tableAccess = new DTAccess(datatables,'row_',7);
        });

    </script>
    <title>Inventory</title>

    </headContent>
</head>
<body>
<content>
    <!--for ajax request    -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <div th:replace="sidebar :: left_sidebar"></div>

    <div id="content">

        <div th:replace="navbar :: navbar"></div>
        <div class="user-text">Inventory</div>
        <div style="margin-left: 22px;">
            <button class="btn" id="assignItemBtn">Request Item</button>
        </div>
        <div style="padding: 50px;">
            <table id="itemsTable" class="display" style="width:100%;">
                <thead>
                <tr>
                    <th><input type="text" style="width: 60px" placeholder="Id.." target-col="id"/></th>
                    <th><input type="text" placeholder="Name.." target-col="name"/></th>
                    <th></th>
                    <th></th>
                    <th>
                        <select target-col="category" style="width: 200px;">
                            <th:block th:each="category : ${categories}">
                                <option th:value="${category.name}" th:text="${category.name}">Option i</option>
                            </th:block>
                        </select>
                    </th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <th col="id">Id</th>
                    <th col="name">Name</th>
                    <th col="price">Price</th>
                    <th col="quantity">Quantity</th>
                    <th col="category">Category</th>
                    <th col="type">Type</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="items-table-body">
                </tbody>
                <tfoot>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Category</th>
                <th>Type</th>
                <th>Action</th>
                </tfoot>
            </table>
        </div>
    </div>

    <div id="inventory-detail-modal"></div>
    <div id="assign-item-modal"></div>

    <script>
        Dropzone.autoDiscover = false;

        function loadInventoryDetail(idInventory){

            $('#inventory-detail-modal').iziModal({
                title : 'Inventory Detail',
                width : screen.width*0.9,
                height : screen.height*0.9,
                closeButton : true,
                fullScreen : true,
                history: false,
                onOpening : function (modal) {
                    modal.startLoading();
                    $.get('/inventory/detail/'+idInventory,function (html) {
                        $('#inventory-detail-modal .iziModal-content').html(html);
                        modal.stopLoading();
                    }).fail(function (file,response) {
                        modal.stopLoading();
                        toastMessage('error','Failed','Something wrong :(');
                        $('.iziModal-button-close').click();
                    });
                },
                onClosed : function (modal) {
                    $('#inventory-detail-modal').iziModal('destroy');
                }

            });
            $('#inventory-detail-modal').iziModal('open');

        }

        $(document).ready(function() {
            $('#itemsTable select[target-col=\"category\"]').select2({
                placeholder : 'Please select category..',
                ajax : {
                    url : '/category/search',
                    params : null,
                    delay : 350,
                    data : function (params) {
                        let query = {
                            search : (params.term != null)?params.term:"",
                            page : (params.page)?params.page:0,
                            length : 10
                        };
                        this.params = query;
                        return query;
                    },
                    processResults : function (result) {
                        let params = this['$element'].params;
                        result.pagination = {
                            more : params.length*params.page < result['recordsFiltered']
                        };
                        let len = result.results.length;
                        let tmp = result.results;
                        for(let i = 0; i<len; i++){
                            tmp[i].id = tmp[i].text;
                        }
                        return result;
                    }
                },
                cache : true
            });


            $('#assignItemBtn').click(function () {
                $('#assign-item-modal').iziModal({
                    title : 'Request Items Lendment',
                    width : screen.width*0.6,
                    height : screen.height,
                    closeButton : true,
                    fullScreen : true,
                    history : false,
                    onOpening : function (modal) {
                        modal.startLoading();
                        $.get('/lendment/create',function (html) {
                            $('#assign-item-modal .iziModal-content').html(html);
                            modal.stopLoading();
                        }).fail(function () {
                            modal.stopLoading();
                            toastMessage('error','Failed','Something wrong :(');
                            $('.iziModal-button-close').click();
                        });
                    }
                });

                $('#assign-item-modal').iziModal('open');

            });
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content')
                }
            });



        });

    </script>
</content>
</body>
</html> 
