<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body style="font-family: Calibri; padding: 72px; border: 1px solid black;">
<div style="font-size: 25px;">
    <div style="text-align: center; margin-bottom: 20px;">Inventory's Report</div>
</div>
<div>
    <img th:src="@{http://localhost:8080/inventory/pict/{link}(link=${image})}"
         style="max-height: 400px;max-width:400px; display: block; margin-left: auto; margin-right: auto; width: 50%; padding-bottom: 30px;"/>
    <div style="font-size: 16px; clear: left;">
        <div style="width: 150px; float: left;">Inventory Id</div>
        <div style="float: left;" th:text="': ' + ${id}"></div>
    </div>
    <div style="font-size: 16px; clear: left;">
        <div style="width: 150px; float: left;">Inventory Name</div>
        <div style="float: left;" th:text="': ' + ${name}"></div>
    </div>
    <div style="font-size: 16px; clear: left;">
        <div style="width: 150px; float: left;">Price</div>
        <div style="float: left;" th:text="': ' + ${price}"></div>
    </div>
    <div style="font-size: 16px; clear: left;">
        <div style="width: 150px; float: left;">Quantity</div>
        <div style="float: left;" th:text="': ' + ${quantity}"></div>
    </div>
    <div style="font-size: 16px; clear: left;">
        <div style="width: 150px; float: left;">Category</div>
        <div style="float: left;" th:text="': ' + ${category}"></div>
    </div>
    <div style="font-size: 16px; clear: left;">
        <div style="width: 150px; float: left;">Type</div>
        <div style="float: left;" th:text="': ' + ${type}"></div>
    </div>
    <div style="font-size: 16px; clear: left;">
        <div style="width: 150px; float: left;">Description</div>
        <div style="float: left;" th:text="': ' + ${description}"></div>
    </div>
</div>
</body>
</html>