<!DOCTYPE html>
<html xmlns:th="http://www.springframework.org/schema/data/jaxb"
      th:replace="~{masterLayout :: layout(~{::title}, ~{::content}, ~{::headContent})}">
<head>
    <headContent>
        <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/css/modal.css}">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.foundation.min.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/css/foundation.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/dropzone.js"></script>

        <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.19/js/dataTables.foundation.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/css/iziModal.min.css">
        <script src="https://cdn.jsdelivr.net/npm/izimodal-1.6.0@1.6.1/js/iziModal.min.js"></script>
        <script th:src="@{/js/DataTablesAccess.js}"></script>

        <title>Positions</title>
    </headContent>
</head>
<body>
<content>
    <!--for ajax request    -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <div th:replace="sidebar :: left_sidebar"></div>

    <div id="content">

        <div th:replace="navbar :: navbar"></div>
        <div class="user-text">Positions</div>
        <div style="margin-left: 22px;">
            <button class="btn" onclick="addPosition()">Add Position</button>
        </div>
        <div style="padding: 50px;">
            <table id="itemsTable" class="display" style="width:100%;">
                <thead>
                <tr>
                    <th>Position</th>
                    <th>Level</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody id="items-table-body">
                <th:block th:each="position : ${positions}">
                    <tr th:id="|pos-${position.id}|">
                        <td col="name" th:text="${position.name}"></td>
                        <td col="level" th:text="${position.level}"></td>
                        <td col="action">
                            <button class="submit" type="submit" th:onclick="|editPosition(${position.id})|">Edit</button>
                            <button class="submit" type="submit" th:onclick="|deletePosition(${position.id})|" style="background-color: #BB281A;">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </th:block>
                </tbody>
                <tfoot>
                <tr>
                    <th>Position</th>
                    <th>Level</th>
                    <th>Action</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <div id="deleteModal" style="display: none">
        <div class="modal-body">
            <input name="id" type="hidden">
            <div>Are you sure you want to delete position?</div>
        </div>
        <div class="modal-footer">
            <button id="delete-close-btn" type="button" class="btn btn-outline-primary">No</button>
            <button id="confirm-delete" type="button" class="btn btn-primary">Yes</button>
        </div>
    </div>
    <div id="editModal" style="display: none">
        <div class="modal-body">
            <input name="id" type="hidden">
            <div class="form-group">
                <label class="form-label">Position Name</label>
                <input name="name" class="form-input" style="width: 100%;" type="text">
            </div>
            <div class="form-group">
                <label class="form-label">Position Level</label>
                <input name="level" class="form-input" style="width: 100%;" type="text">
            </div>
        </div>
        <div class="modal-footer">
            <button id="edit-close-btn" type="button" class="btn btn-outline-primary">Close</button>
            <button id="submit-edit" type="button" class="btn btn-primary">Update</button>
        </div>
    </div>

    <div id="addModal" style="display: none">
        <div class="modal-body">
            <input name="id" type="hidden">
            <div class="form-group">
                <label class="form-label">Position Name</label>
                <input name="name" class="form-input" style="width: 100%;" type="text">
            </div>
            <div class="form-group">
                <label class="form-label">Position Level</label>
                <input name="level" class="form-input" style="width: 100%;" type="number">
            </div>
        </div>
        <div class="modal-footer">
            <button id="add-close-btn" type="button" class="btn btn-outline-primary">Close</button>
            <button id="submit-add" type="button" class="btn btn-primary">Add</button>
        </div>
    </div>

    <script>

        $(document).ready(function() {
            tableAccess = new DTAccess($('#itemsTable').DataTable(),'pos-',3);
            $.ajaxSetup({
                headers: {
                    'X-CSRF-TOKEN': $('meta[name="_csrf"]').attr('content')
                }
            });
        });

        Dropzone.autoDiscover = false;
        let select2Superior = null;
        let tableAccess = null;
        let select_superior = null;

        function addPosition(){
            let target = $('#addModal');
            target.iziModal({
                title : 'Add',
                width : screen.width*0.2,
                height : screen.height*0.4,
                closeButton : true,
                fullScreen : true,
                history: false,
                onOpening : function (modal) {
                    $('#add-close-btn').click(function () {
                        $('.iziModal-button-close').click();
                    });

                    $('#submit-add').click(function () {
                        let source = $('#addModal');
                        var data = {
                            'name' : source.find('input[name=\"name\"]').val(),
                            'level' : source.find('input[name=\"level\"]').val()
                        };

                        $.ajax({
                            type : 'POST',
                            url: '/user/positions/create',
                            data : JSON.stringify(data),
                            contentType : "application/json; charset=utf-8",
                            success : function (response) {
                                if(response['success']){
                                    tableAccess.addData(
                                        response['position_id'],
                                        [
                                            data['name'],
                                            data['level'],
                                            '<button class="submit" type="submit" onclick="editPosition('+response['position_id']+')">Edit</button><' +
                                            'button class="submit" onclick="deletePosition('+response['position_id']+')" style="background-color: #BB281A;" type="submit">' +
                                            '<i class="fas fa-trash"></i>' +
                                            '</button>'
                                        ],
                                        [
                                            'name',
                                            'level',
                                            'action'
                                        ]
                                    );
                                    toastMessage('success', 'Success', response['message']);
                                }
                                else{
                                    toastMessage('error', 'Error', response['message']);
                                }
                                $('#addModal').iziModal('close');
                            },
                            error : function () {
                                toastMessage('error','Error','Something Wrong :(');
                                $('.iziModal-button-close').click();
                            }
                        });


                    });

                },
                onClosed : function (modal) {
                    target.iziModal('destroy');
                }

            });


            target.iziModal('open');
        }

        function editPosition(id){

            let target = $('#editModal');
            target.iziModal({
                title : 'Edit',
                width : screen.width*0.2,
                height : screen.height*0.4,
                closeButton : true,
                fullScreen : true,
                history: false,
                onOpening : function (modal) {
                    $('#edit-close-btn').click(function () {
                        $('.iziModal-button-close').click();
                    });

                    var source = $('#editModal');
                    source.find('input[name=\"name\"]').val(tableAccess.getColByRowId(id,'name').text());
                    source.find('input[name=\"level\"]').val(tableAccess.getColByRowId(id,'level').text());
                    $('#submit-edit').click(function () {
                        var data = {
                            'id' : id,
                            'name' : source.find('input[name=\"name\"]').val(),
                            'level' : source.find('input[name=\"level\"]').val()
                        };

                        $.ajax({
                            type : 'POST',
                            url: '/user/positions/edit',
                            data : JSON.stringify(data),
                            contentType : "application/json; charset=utf-8",
                            success : function (response) {

                                if(response['success']){
                                    toastMessage('success','Success',response['message']);
                                    tableAccess.setColValueByRowId(id,'name',data['name']);
                                    tableAccess.setColValueByRowId(id,'level',data['level']);
                                }
                                else{
                                    toastMessage('error','Error',response['message']);
                                }
                                $('.iziModal-button-close').click();
                            },
                            error : function () {
                                toastMessage('error','Error','Something Wrong :(');
                                $('.iziModal-button-close').click();
                            }
                        });


                    });

                },
                onClosed : function (modal) {
                    target.iziModal('destroy');
                }

            });


            target.iziModal('open');
        }

        function deletePosition(id){
            let target = $('#deleteModal');
            target.iziModal({
                title : 'Delete',
                width : screen.width*0.2,
                height : screen.height*0.4,
                closeButton : true,
                fullScreen : true,
                history: false,
                onOpening : function (modal) {
                    $('#delete-close-btn').click(function () {
                        $('.iziModal-button-close').click();
                    });

                    $('#confirm-delete').click(function () {
                        $.ajax({
                            type : "POST",
                            url : '/user/positions/delete/'+id,

                            success: function (response) {
                                if(response['success']){
                                    toastMessage('success', 'Success', response['message']);
                                    tableAccess.removeRowById(id);
                                }
                                else{
                                    toastMessage('error','Error',response['message']);
                                }
                                $('.iziModal-button-close').click();

                            },
                            error: function (xhr) {
                                let response = JSON.parse(xhr.responseText);
                                toastMessage('error','Error',response['message']);
                                $('.iziModal-button-close').click();
                            }
                        }).fail(function (response) {
                            console.log(response);
                        });
                    });

                },
                onClosed : function (modal) {
                    target.iziModal('destroy');
                }

            });

            target.iziModal('open');
        }

        $(document).ready(function() {





        });

    </script>
</content>
</body>
</html>
